@font-face {
  font-family: "herculanum";
  src: url("https://raw.githubusercontent.com/maxi83c/Fonts/main/herculanum.woff");
}

// colors

$skin: #ffc16c;
$skin-active: #32325b;
$red: #9c2401;
$red-active: #12113a;
$orange: #feb13d;
$orange-active: #2e2e59;
$blue: #9c9bab;
$light-brown: #a54f2e;
$brown: #9a4528;
$brown-active: #191741;
$dark-brown: #4e0e05;
$dark-brown-active: #0c0c26;
$bg: #f46d33;
$bg-active: #000;

// variables

$bg-duration: 0.5s;
$bg-delay: 1.5s;
$shadow-duration: 0.5s;
$shadow-delay: 1.5s;
$arrow-duration: 1.5s;
$arrow-delay: 0.5s;
$skin-duration: 0.5s;
$skin-delay: 1.5s;
$eyes-duration: 0.5s;
$clotes-duration: 0.5s;
$clotes-delay: 1.5s;

:root {
  --arrow: #{$blue};
  --ligth: transparent;
  --skin: #{$skin};
  --eye-scale: 0;
  --blur-size: 0;
  --red: #{$red};
  --orange: #{$orange};
  --brown: #{$brown};
  --dark-brown: #{$dark-brown};
  --text: "click on aang to enter avatar mode";
}

// utils

@mixin box($w, $h) {
  height: $h;
  width: $w;
}

@mixin pse($w, $h, $c: "") {
  height: $h;
  width: $w;
  content: $c;
  position: absolute;
}

@mixin patl($t, $l) {
  position: absolute;
  top: $t;
  left: $l;
}

@mixin patr($t, $r) {
  position: absolute;
  top: $t;
  right: $r;
}

@mixin pabl($b, $l) {
  position: absolute;
  bottom: $b;
  left: $l;
}

@mixin pabr($b, $r) {
  position: absolute;
  bottom: $b;
  right: $r;
}

//base styles
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "herculanum", sans-serif;
}

.container,
.background {
  @include box(100vw, 100vh);
  position: absolute;
}

.container {
  display: grid;
  place-items: center;
}

.background {
  background-color: $bg;
  transition: background-color $bg-duration $bg-delay;
  z-index: -10;

  &::after {
    @include pse(100%, 0, var(--text));
    position: fixed;
    bottom: 1.5rem;
    letter-spacing: 0.1rem;
    color: white;
    text-align: right;
    padding-right: 0.5rem;
    text-shadow: 0 0 var(--blur-size) white;
    transition: text-shadow $shadow-duration $shadow-delay;
  }
}

.title,
.subtitle {
  color: white;
  text-transform: uppercase;
  position: absolute;
  width: 100vw;
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 0;
  text-shadow: 0 0 var(--blur-size) white;
  transition: text-shadow $shadow-duration $shadow-delay;
}

.title {
  font-size: 6rem;
  top: 1.5rem;
}
.subtitle {
  font-size: 1.5rem;
  top: 7.3rem;
}

.check {
  display: none;
}

.check:checked + .background + .avatar {
  --arrow: white;
  --ligth: #fff4;
  --eye-scale: 1;
  --blur-size: 20px;
  --blur-size-mid: 20px;
  --skin: #{$skin-active};
  --red: #{$red-active};
  --orange: #{$orange-active};
  --brown: #{$brown-active};
  --dark-brown: #{$dark-brown-active};
}

.check:checked + .background {
  background-color: $bg-active;
  --text: "click on aang to leave avatar mode";
  --blur-size: 20px;
}

.avatar {
  @include box(237px, 258px);
  position: relative;
  transition: filter $shadow-duration $shadow-delay;
  filter: drop-shadow(0 0 var(--blur-size) white)
    drop-shadow(0 0 calc(6 * var(--blur-size)) white);

  .head {
    @include box(56px, 74px);
    position: absolute;
    z-index: 1;
    background-color: var(--skin);
    left: 50%;
    transform: translatex(-50%);
    border-radius: 50% 50% 50% 50% / 35% 35% 65% 65%;
    transition: background-color $skin-duration $skin-delay;
    cursor: pointer;
    cursor: pointer;

    .arrow {
      @include box(56px, 74px);
      @include patl(0, 0);
      overflow: hidden;
      border-radius: 50% 50% 50% 50% / 35% 35% 65% 65%;
      perspective: 1000px;
      perspective-origin: top center;
      cursor: pointer;
      &::after {
        @include pse(10px, 22px);
        transform: translatex(-50%);
        left: 50%;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 22px solid var(--arrow);
        transition: border-color $arrow-duration $arrow-delay;
      }

      &::before {
        @include pse(0, 0);
        @include patl(22px, 50%);
        transform: translatex(-50%);
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top: 16px solid var(--arrow);
        transition: border-color $arrow-duration $arrow-delay;
      }
    }

    .ears {
      @include box(68px, 20px);
      @include patl(37px, -6px);

      &::after,
      &::before {
        @include pse(16px, 20px);
        background: var(--skin);
        transition: background-color $skin-duration $skin-delay;
      }

      &::before {
        transform: rotate(-28deg);
        border-radius: 40% 60% 45% 45% / 40% 40% 60% 60%;
      }

      &::after {
        transform: rotate(28deg);
        border-radius: 60% 40% 45% 45% / 40% 40% 60% 60%;
        right: 0;
      }
    }

    .eyes {
      @include box(56px, 10px);
      @include patl(35px, 0);
      transition: transform $eyes-duration;
      transform-origin: center;
      transform: scaley(var(--eye-scale));

      &::after,
      &::before {
        @include pse(17px, 10px);
        background: white;
        border-radius: 50%;
      }

      &::before {
        left: 7px;
        transform: rotate(15deg);
      }

      &::after {
        transform: rotate(-15deg);
        right: 7px;
      }
    }

    .neck {
      @include box(20px, 12px);
      @include patl(70px, 50%);
      transform: translatex(-50%);
      background: var(--skin);
      transition: background-color $skin-duration $skin-delay;

      &::after {
        @include pse(18px, 0);
        top: 12px;
        left: 1px;
        border-right: 7px solid transparent;
        border-left: 9px solid transparent;
        border-top: 14px solid var(--skin);
        transition: border-color $skin-duration $skin-delay;
      }
    }

    .collar {
      @include box(44px, 30px);
      @include patl(70px, 50%);
      transform: translatex(-50%);
      z-index: -1;

      .top {
        @include box(44px, 16px);
        @include patl(0, 0);
        border-radius: 50%;
        background-color: var(--dark-brown);
        border: 4px solid var(--orange);
        transition: border-color $clotes-duration $clotes-delay,
          background-color $clotes-duration $clotes-delay;
      }

      .mid {
        @include box(44px, 0px);
        @include patl(10px, 0);
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 9px solid var(--orange);
        transition: border-color $clotes-duration $clotes-delay;

        &::after {
          @include pse(36px, 4px);
          top: -1px;
          background-color: var(--orange);
          transition: background-color $clotes-duration $clotes-delay;
        }
      }

      .bootom {
        @include box(36px, 10px);
        @include patl(22px, 4px);
        overflow: hidden;

        &::after {
          @include pse(50px, 60px);
          border-radius: 50%;
          background-color: var(--orange);
          transition: background-color $clotes-duration $clotes-delay;
          left: -7px;
          bottom: 0;
        }
      }
    }
  }

  .body {
    z-index: 0;

    .chest {
      @include box(94px, 80px);
      @include patl(92px, 72px);
      border-radius: 45% 45% 18% 20% / 20% 20% 14% 9%;
      background-color: var(--red);
      transition: background-color $clotes-duration $clotes-delay;
      cursor: pointer;

      &::before {
        @include pse(0, 0);
        top: 26px;
        left: 42px;
        border-right: 10px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 34px solid var(--orange);
        transition: border-color $clotes-duration $clotes-delay;
        border-radius: 3px;
        cursor: pointer;
      }

      &::after {
        @include pse(16px, 26px);
        border-radius: 50%;
        background-color: var(--ligth);
        top: 44px;
        left: 40px;
        box-shadow: 0 0 var(--blur-size) 0 white;
        transition: background-color $shadow-duration $shadow-delay,
          box-shadow $shadow-duration $shadow-delay;
      }
    }

    .arms {
      cursor: pointer;
      .left,
      .right {
        @include box(76px, 69px);
        @include patl(100px, 120px);

        &::before {
          @include pse(70px, 21px);
          top: 27px;
          right: -12px;
          border-radius: 13% 18% 21% 0% / 11% 52% 47% 0%;
          background-color: var(--red);
          transform: rotate(59deg);
          transition: background-color $clotes-duration $clotes-delay;
        }

        &::after {
          @include pse(33px, 36px);
          top: 0px;
          right: 25px;
          border-radius: 50%;
          background-color: var(--red);
          transition: background-color $clotes-duration $clotes-delay;
        }

        .sleeve {
          @include box(36px, 22px);
          @include pabr(3px, 12px);
          z-index: 2;
          &::after {
            @include pse(14px, 22px);
            right: 0px;
            border-radius: 50%;
            background-color: var(--orange);
            transition: background-color $clotes-duration $clotes-delay;
          }

          &::before {
            @include pse(28px, 22px);
            border-top: 5px solid transparent;
            border-bottom: 4px solid transparent;
            border-right: 28px solid var(--orange);
            transition: border-color $clotes-duration $clotes-delay;
          }
        }

        .hand {
          @include box(17px, 25px);
          @include patl(35px, 1px);
          border-radius: 56% 31% 55% 22% / 34% 26% 0% 37%;
          background-color: var(--skin);
          transition: background-color $skin-duration $skin-delay;

          .arrow {
            @include box(7px, 6px);
            @include patr(12px, 0);
            background-color: var(--arrow);
            transition: background-color $arrow-duration $arrow-delay;

            &::after {
              @include pse(0, 0);
              right: 6px;
              top: -5px;
              border-bottom: 7px solid transparent;
              border-top: 8px solid transparent;
              border-right: 7px solid var(--arrow);
              transition: border-color $arrow-duration $arrow-delay;
              transform: rotate(3deg);
            }
          }

          &::after {
            @include pse(10px, 22px);
            right: -7px;
            top: 5px;
            border-radius: 44% 57% 74% 27% / 52% 29% 37% 45%;
            background-color: var(--orange);
            transition: background-color $clotes-duration $clotes-delay;
            transform: skew(-5deg, 30deg);
          }

          &::before {
            @include pse(16px, 25px);
            right: -22px;
            top: 7px;
            border-radius: 50%;
            z-index: 1;
            background-color: var(--red);
            transition: background-color $clotes-duration $clotes-delay;
          }
        }
      }

      .right {
        transform: scalex(-1);
        left: 44px;

        .hand {
          top: 37px;
        }
      }
    }

    .waist {
      @include box(64px, 25px);
      @include patl(172px, calc(50% - 32px));
      overflow: hidden;
      cursor: pointer;
      &::after {
        @include pse(64px, 10px);
        border-radius: 2% 2% 32% 8% / 14% 24% 61% 42%;
        background-color: var(--orange);
        transition: background-color $clotes-duration $clotes-delay;
      }

      &::before {
        @include pse(36px, 16px);
        border-radius: 50%;
        left: 16px;
        top: -2px;
        z-index: 1;
        background-color: var(--orange);
        transition: background-color $clotes-duration $clotes-delay;
      }

      .belt {
        @include box(56px, 17px);
        @include pabl(0, calc(50% - 28px));
        overflow: hidden;
        &::after {
          @include pse(90px, 48px);
          border-radius: 50%;
          bottom: 0;
          left: -16px;
          background-color: var(--red);
          transition: background-color $clotes-duration $clotes-delay;
        }
      }
    }

    .legs {
      @include box(200px, 78px);
      @include patl(188px, 20px);
      cursor: pointer;

      &::before {
        @include pse(158px, 44px);
        top: 4px;
        left: 20px;
        background-color: var(--orange);
        transition: background-color $clotes-duration $clotes-delay;
      }

      &::after {
        @include pse(0, 0);
        top: 15px;
        left: 16px;
        border-left: 11px solid var(--orange);
        border-top: 9px solid transparent;
        transition: border-color $clotes-duration $clotes-delay;
      }

      .left {
        @include box(57px, 54px);
        @include patr(2px, 0);
        border-radius: 50%;
        background-color: var(--orange);
        transition: background-color $clotes-duration $clotes-delay;

        &::before {
          @include pse(54px, 10px);
          top: 1px;
          left: -24px;
          transform: rotate(-3deg);
          background-color: var(--orange);
          border-radius: 0 6px 0 0;
          transition: background-color $clotes-duration $clotes-delay;
        }

        .boot {
          @include box(0, 32px);
          @include patl(28px, -48px);
          transform: rotate(-15deg);
          border-radius: 0 10px 0 0;
          border-right: 72px solid var(--dark-brown);
          border-bottom: 11px solid transparent;
          transition: border-color $clotes-duration $clotes-delay;

          &::after {
            @include pse(25px, 26px);
            top: 7px;
            left: 60px;
            border-radius: 0% 27% 30% 70% / 0% 42% 58% 19%;
            background-color: var(--dark-brown);
            transition: background-color $clotes-duration $clotes-delay;
          }

          &::before {
            @include pse(10px, 10px);
            top: -2px;
            left: 66px;
            border-radius: 50%;
            border-left: 3px solid var(--dark-brown);
            transform: rotate(-50deg);
            transition: border-color $clotes-duration $clotes-delay;
            z-index: 6;
          }

          .foot {
            @include box(19px, 50px);
            @include patl(-14px, -22px);
            border-radius: 44% 21% 69% 32% / 42% 19% 81% 60%;
            transform: rotate(60deg);
            background-color: var(--dark-brown);
            transition: background-color $clotes-duration $clotes-delay;
          }
        }
      }

      .right {
        @include box(53px, 48px);
        @include patl(8px, 0);
        border-radius: 31% 0% 56% 58% / 52% 0% 43% 70%;
        background-color: var(--orange);
        transition: background-color $clotes-duration $clotes-delay;

        &::before {
          @include pse(60px, 20px);
          top: -7px;
          left: 18px;
          transform: rotate(5deg);
          background-color: var(--orange);
          border-radius: 8px 0 0 0;
          transition: background-color $clotes-duration $clotes-delay;
        }
        &::after {
          @include pse(10px, 10px);
          top: -8px;
          left: 10px;
          transform: rotate(60deg);
          border-radius: 0 50%;
          border-right: 4px solid var(--orange);
          transition: border-color $clotes-duration $clotes-delay;
        }

        .boot {
          @include box(0, 32px);
          @include patl(26px, 40px);
          transform: rotate(25deg);
          border-left: 69px solid var(--brown);
          border-bottom: 11px solid transparent;
          transition: border-color $clotes-duration $clotes-delay;

          &::after {
            @include pse(34px, 27px);
            background-color: var(--brown);
            border-radius: 50%;
            left: -90px;
            top: 5px;
            transition: background-color $clotes-duration $clotes-delay;
          }

          &::before {
            @include pse(48px, 27px);
            left: -104px;
            top: -18px;
            transform: rotate(-18deg);

            border-right: 26px solid transparent;
            border-left: 8px solid transparent;
            border-bottom: 12px solid var(--brown);
            transition: border-color $clotes-duration $clotes-delay;
          }

          .foot {
            @include box(19px, 50px);
            @include patr(-10px, -15px);
            border-radius: 46% 26% 31% 61% / 20% 42% 58% 60%;
            transform: rotate(-50deg);
            background-color: var(--brown);
            transition: background-color $clotes-duration $clotes-delay;

            &::after {
              @include pse(10px, 27px);
              background-color: var(--brown);
              border-radius: 50%;
              transform: rotate(-30deg);
              left: -4px;
              top: 8px;
              transition: background-color $clotes-duration $clotes-delay;
            }
          }
        }
      }
    }
  }
}
