@font-face {
  font-family: "herculanum";
  src: url("https://raw.githubusercontent.com/maxi83c/Fonts/main/herculanum.woff");
}
:root {
  --arrow: #9c9bab;
  --ligth: transparent;
  --skin: #ffc16c;
  --eye-scale: 0;
  --blur-size: 0;
  --red: #9c2401;
  --orange: #feb13d;
  --brown: #9a4528;
  --dark-brown: #4e0e05;
  --text: "click on aang to enter avatar mode";
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "herculanum", sans-serif;
}

.container,
.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.container {
  display: grid;
  place-items: center;
}

.background {
  background-color: #f46d33;
  transition: background-color 0.5s 1.5s;
  z-index: -10;
}
.background::after {
  height: 0;
  width: 100%;
  content: var(--text);
  position: absolute;
  position: fixed;
  bottom: 1.5rem;
  letter-spacing: 0.1rem;
  color: white;
  text-align: right;
  padding-right: 0.5rem;
  text-shadow: 0 0 var(--blur-size) white;
  transition: text-shadow 0.5s 1.5s;
}

.title,
.subtitle {
  color: white;
  text-transform: uppercase;
  position: absolute;
  width: 100vw;
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 0;
  text-shadow: 0 0 var(--blur-size) white;
  transition: text-shadow 0.5s 1.5s;
}

.title {
  font-size: 6rem;
  top: 1.5rem;
}

.subtitle {
  font-size: 1.5rem;
  top: 7.3rem;
}

.check {
  display: none;
}

.check:checked + .background + .avatar {
  --arrow: white;
  --ligth: #fff4;
  --eye-scale: 1;
  --blur-size: 20px;
  --blur-size-mid: 20px;
  --skin: #32325b;
  --red: #12113a;
  --orange: #2e2e59;
  --brown: #191741;
  --dark-brown: #0c0c26;
}

.check:checked + .background {
  background-color: #000;
  --text: "click on aang to leave avatar mode";
  --blur-size: 20px;
}

.avatar {
  height: 258px;
  width: 237px;
  position: relative;
  transition: filter 0.5s 1.5s;
  filter: drop-shadow(0 0 var(--blur-size) white) drop-shadow(0 0 calc(6 * var(--blur-size)) white);
}
.avatar .head {
  height: 74px;
  width: 56px;
  position: absolute;
  z-index: 1;
  background-color: var(--skin);
  left: 50%;
  transform: translatex(-50%);
  border-radius: 50% 50% 50% 50%/35% 35% 65% 65%;
  transition: background-color 0.5s 1.5s;
  cursor: pointer;
  cursor: pointer;
}
.avatar .head .arrow {
  height: 74px;
  width: 56px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 50% 50% 50% 50%/35% 35% 65% 65%;
  perspective: 1000px;
  perspective-origin: top center;
  cursor: pointer;
}
.avatar .head .arrow::after {
  height: 22px;
  width: 10px;
  content: "";
  position: absolute;
  transform: translatex(-50%);
  left: 50%;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 22px solid var(--arrow);
  transition: border-color 1.5s 0.5s;
}
.avatar .head .arrow::before {
  height: 0;
  width: 0;
  content: "";
  position: absolute;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translatex(-50%);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 16px solid var(--arrow);
  transition: border-color 1.5s 0.5s;
}
.avatar .head .ears {
  height: 20px;
  width: 68px;
  position: absolute;
  top: 37px;
  left: -6px;
}
.avatar .head .ears::after, .avatar .head .ears::before {
  height: 20px;
  width: 16px;
  content: "";
  position: absolute;
  background: var(--skin);
  transition: background-color 0.5s 1.5s;
}
.avatar .head .ears::before {
  transform: rotate(-28deg);
  border-radius: 40% 60% 45% 45%/40% 40% 60% 60%;
}
.avatar .head .ears::after {
  transform: rotate(28deg);
  border-radius: 60% 40% 45% 45%/40% 40% 60% 60%;
  right: 0;
}
.avatar .head .eyes {
  height: 10px;
  width: 56px;
  position: absolute;
  top: 35px;
  left: 0;
  transition: transform 0.5s;
  transform-origin: center;
  transform: scaley(var(--eye-scale));
}
.avatar .head .eyes::after, .avatar .head .eyes::before {
  height: 10px;
  width: 17px;
  content: "";
  position: absolute;
  background: white;
  border-radius: 50%;
}
.avatar .head .eyes::before {
  left: 7px;
  transform: rotate(15deg);
}
.avatar .head .eyes::after {
  transform: rotate(-15deg);
  right: 7px;
}
.avatar .head .neck {
  height: 12px;
  width: 20px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translatex(-50%);
  background: var(--skin);
  transition: background-color 0.5s 1.5s;
}
.avatar .head .neck::after {
  height: 0;
  width: 18px;
  content: "";
  position: absolute;
  top: 12px;
  left: 1px;
  border-right: 7px solid transparent;
  border-left: 9px solid transparent;
  border-top: 14px solid var(--skin);
  transition: border-color 0.5s 1.5s;
}
.avatar .head .collar {
  height: 30px;
  width: 44px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translatex(-50%);
  z-index: -1;
}
.avatar .head .collar .top {
  height: 16px;
  width: 44px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--dark-brown);
  border: 4px solid var(--orange);
  transition: border-color 0.5s 1.5s, background-color 0.5s 1.5s;
}
.avatar .head .collar .mid {
  height: 0px;
  width: 44px;
  position: absolute;
  top: 10px;
  left: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 9px solid var(--orange);
  transition: border-color 0.5s 1.5s;
}
.avatar .head .collar .mid::after {
  height: 4px;
  width: 36px;
  content: "";
  position: absolute;
  top: -1px;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
}
.avatar .head .collar .bootom {
  height: 10px;
  width: 36px;
  position: absolute;
  top: 22px;
  left: 4px;
  overflow: hidden;
}
.avatar .head .collar .bootom::after {
  height: 60px;
  width: 50px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
  left: -7px;
  bottom: 0;
}
.avatar .body {
  z-index: 0;
}
.avatar .body .chest {
  height: 80px;
  width: 94px;
  position: absolute;
  top: 92px;
  left: 72px;
  border-radius: 45% 45% 18% 20%/20% 20% 14% 9%;
  background-color: var(--red);
  transition: background-color 0.5s 1.5s;
  cursor: pointer;
}
.avatar .body .chest::before {
  height: 0;
  width: 0;
  content: "";
  position: absolute;
  top: 26px;
  left: 42px;
  border-right: 10px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 34px solid var(--orange);
  transition: border-color 0.5s 1.5s;
  border-radius: 3px;
  cursor: pointer;
}
.avatar .body .chest::after {
  height: 26px;
  width: 16px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--ligth);
  top: 44px;
  left: 40px;
  box-shadow: 0 0 var(--blur-size) 0 white;
  transition: background-color 0.5s 1.5s, box-shadow 0.5s 1.5s;
}
.avatar .body .arms {
  cursor: pointer;
}
.avatar .body .arms .left,
.avatar .body .arms .right {
  height: 69px;
  width: 76px;
  position: absolute;
  top: 100px;
  left: 120px;
}
.avatar .body .arms .left::before,
.avatar .body .arms .right::before {
  height: 21px;
  width: 70px;
  content: "";
  position: absolute;
  top: 27px;
  right: -12px;
  border-radius: 13% 18% 21% 0%/11% 52% 47% 0%;
  background-color: var(--red);
  transform: rotate(59deg);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .arms .left::after,
.avatar .body .arms .right::after {
  height: 36px;
  width: 33px;
  content: "";
  position: absolute;
  top: 0px;
  right: 25px;
  border-radius: 50%;
  background-color: var(--red);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .arms .left .sleeve,
.avatar .body .arms .right .sleeve {
  height: 22px;
  width: 36px;
  position: absolute;
  bottom: 3px;
  right: 12px;
  z-index: 2;
}
.avatar .body .arms .left .sleeve::after,
.avatar .body .arms .right .sleeve::after {
  height: 22px;
  width: 14px;
  content: "";
  position: absolute;
  right: 0px;
  border-radius: 50%;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .arms .left .sleeve::before,
.avatar .body .arms .right .sleeve::before {
  height: 22px;
  width: 28px;
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 28px solid var(--orange);
  transition: border-color 0.5s 1.5s;
}
.avatar .body .arms .left .hand,
.avatar .body .arms .right .hand {
  height: 25px;
  width: 17px;
  position: absolute;
  top: 35px;
  left: 1px;
  border-radius: 56% 31% 55% 22%/34% 26% 0% 37%;
  background-color: var(--skin);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .arms .left .hand .arrow,
.avatar .body .arms .right .hand .arrow {
  height: 6px;
  width: 7px;
  position: absolute;
  top: 12px;
  right: 0;
  background-color: var(--arrow);
  transition: background-color 1.5s 0.5s;
}
.avatar .body .arms .left .hand .arrow::after,
.avatar .body .arms .right .hand .arrow::after {
  height: 0;
  width: 0;
  content: "";
  position: absolute;
  right: 6px;
  top: -5px;
  border-bottom: 7px solid transparent;
  border-top: 8px solid transparent;
  border-right: 7px solid var(--arrow);
  transition: border-color 1.5s 0.5s;
  transform: rotate(3deg);
}
.avatar .body .arms .left .hand::after,
.avatar .body .arms .right .hand::after {
  height: 22px;
  width: 10px;
  content: "";
  position: absolute;
  right: -7px;
  top: 5px;
  border-radius: 44% 57% 74% 27%/52% 29% 37% 45%;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
  transform: skew(-5deg, 30deg);
}
.avatar .body .arms .left .hand::before,
.avatar .body .arms .right .hand::before {
  height: 25px;
  width: 16px;
  content: "";
  position: absolute;
  right: -22px;
  top: 7px;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--red);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .arms .right {
  transform: scalex(-1);
  left: 44px;
}
.avatar .body .arms .right .hand {
  top: 37px;
}
.avatar .body .waist {
  height: 25px;
  width: 64px;
  position: absolute;
  top: 172px;
  left: calc(50% - 32px);
  overflow: hidden;
  cursor: pointer;
}
.avatar .body .waist::after {
  height: 10px;
  width: 64px;
  content: "";
  position: absolute;
  border-radius: 2% 2% 32% 8%/14% 24% 61% 42%;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .waist::before {
  height: 16px;
  width: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 16px;
  top: -2px;
  z-index: 1;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .waist .belt {
  height: 17px;
  width: 56px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 28px);
  overflow: hidden;
}
.avatar .body .waist .belt::after {
  height: 48px;
  width: 90px;
  content: "";
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  left: -16px;
  background-color: var(--red);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs {
  height: 78px;
  width: 200px;
  position: absolute;
  top: 188px;
  left: 20px;
  cursor: pointer;
}
.avatar .body .legs::before {
  height: 44px;
  width: 158px;
  content: "";
  position: absolute;
  top: 4px;
  left: 20px;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs::after {
  height: 0;
  width: 0;
  content: "";
  position: absolute;
  top: 15px;
  left: 16px;
  border-left: 11px solid var(--orange);
  border-top: 9px solid transparent;
  transition: border-color 0.5s 1.5s;
}
.avatar .body .legs .left {
  height: 54px;
  width: 57px;
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: 50%;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .left::before {
  height: 10px;
  width: 54px;
  content: "";
  position: absolute;
  top: 1px;
  left: -24px;
  transform: rotate(-3deg);
  background-color: var(--orange);
  border-radius: 0 6px 0 0;
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .left .boot {
  height: 32px;
  width: 0;
  position: absolute;
  top: 28px;
  left: -48px;
  transform: rotate(-15deg);
  border-radius: 0 10px 0 0;
  border-right: 72px solid var(--dark-brown);
  border-bottom: 11px solid transparent;
  transition: border-color 0.5s 1.5s;
}
.avatar .body .legs .left .boot::after {
  height: 26px;
  width: 25px;
  content: "";
  position: absolute;
  top: 7px;
  left: 60px;
  border-radius: 0% 27% 30% 70%/0% 42% 58% 19%;
  background-color: var(--dark-brown);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .left .boot::before {
  height: 10px;
  width: 10px;
  content: "";
  position: absolute;
  top: -2px;
  left: 66px;
  border-radius: 50%;
  border-left: 3px solid var(--dark-brown);
  transform: rotate(-50deg);
  transition: border-color 0.5s 1.5s;
  z-index: 6;
}
.avatar .body .legs .left .boot .foot {
  height: 50px;
  width: 19px;
  position: absolute;
  top: -14px;
  left: -22px;
  border-radius: 44% 21% 69% 32%/42% 19% 81% 60%;
  transform: rotate(60deg);
  background-color: var(--dark-brown);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .right {
  height: 48px;
  width: 53px;
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 31% 0% 56% 58%/52% 0% 43% 70%;
  background-color: var(--orange);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .right::before {
  height: 20px;
  width: 60px;
  content: "";
  position: absolute;
  top: -7px;
  left: 18px;
  transform: rotate(5deg);
  background-color: var(--orange);
  border-radius: 8px 0 0 0;
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .right::after {
  height: 10px;
  width: 10px;
  content: "";
  position: absolute;
  top: -8px;
  left: 10px;
  transform: rotate(60deg);
  border-radius: 0 50%;
  border-right: 4px solid var(--orange);
  transition: border-color 0.5s 1.5s;
}
.avatar .body .legs .right .boot {
  height: 32px;
  width: 0;
  position: absolute;
  top: 26px;
  left: 40px;
  transform: rotate(25deg);
  border-left: 69px solid var(--brown);
  border-bottom: 11px solid transparent;
  transition: border-color 0.5s 1.5s;
}
.avatar .body .legs .right .boot::after {
  height: 27px;
  width: 34px;
  content: "";
  position: absolute;
  background-color: var(--brown);
  border-radius: 50%;
  left: -90px;
  top: 5px;
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .right .boot::before {
  height: 27px;
  width: 48px;
  content: "";
  position: absolute;
  left: -104px;
  top: -18px;
  transform: rotate(-18deg);
  border-right: 26px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 12px solid var(--brown);
  transition: border-color 0.5s 1.5s;
}
.avatar .body .legs .right .boot .foot {
  height: 50px;
  width: 19px;
  position: absolute;
  top: -10px;
  right: -15px;
  border-radius: 46% 26% 31% 61%/20% 42% 58% 60%;
  transform: rotate(-50deg);
  background-color: var(--brown);
  transition: background-color 0.5s 1.5s;
}
.avatar .body .legs .right .boot .foot::after {
  height: 27px;
  width: 10px;
  content: "";
  position: absolute;
  background-color: var(--brown);
  border-radius: 50%;
  transform: rotate(-30deg);
  left: -4px;
  top: 8px;
  transition: background-color 0.5s 1.5s;
}/*# sourceMappingURL=start.css.map */